  .TaskDetailModalStyles{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 14px;
  border: 2px solid #533e3e;
  background-color: #aabebc;
  padding: 20px;
  color: black;
  max-width: 560px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  }

.openModalBtn {
  color: #030705;
  background-color: transparent; 
  border: none; 
  outline: none; 
  cursor: pointer; 
  font-size: inherit;
  text-decoration: none; 
  text-align: left;
  padding: 0.2em;
}

.openModalBtn:focus {
  background-color: #aabebc;
}

.taskDetailHeading{
  color: "#00473e";
  text-align: center;
  font-size: 33px;
  margin-bottom: 8px;
}

.tasknamecontainer {
  display: flex; /* Using flexbox layout */
  align-items: center; 
  display: inline;
}

.categoryContainer,.activityContainer,.taskname,.descriptionContainer, .priorityContainer,.duedateContainer{
  font-size: 24px;
}

.tasknameEditButton {
  float: right; 
  font-size: small;
  margin-left: 93px;
}


.taskname{
  text-align: left;
  
}

.tasknameInputContainer {
  float: right;
  font-size: 17px;
  margin-top: 6px;
  width: 73%;
}

.btnClose {
  background-color: #00473e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 100%;
  cursor: pointer;
  width: 36px;
  height: 32px;
  float: right; 
  margin-top: 9px; 
}

.inputContainer{
  float: right;
  width: 37%;
  font-size: 17px;
}
.dateInput{
  margin-top: -25px;
}



.daysContainer{
  list-style-type: none;
}

.saveBtn {
  background-color: #00473e;
  color: #fff;
  border: none;
  width: 66%; 
  border-radius: 7px;
  display: block; 
  margin: 0 auto;
  height: 27px;
}

.editButton{
  background: #00473e;
  float: right;
  font-size: 17px;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 6.5px;
}

.inputDescriptionContainer{
  margin-top: 8px;
  float: right;
  width: 73%;
  font-size: 17px;
}

.inputPriorityContainer{
  margin-top: 8px;
  float: right;
  width: 37%;
  font-size: 17px;
}

.editingDuedateContainer {
  font-size: 21px;
 /* Align items vertically */
 display: flex;
 flex-direction: column;
}

.editingDuedateContainer div {
  margin-bottom: 2px; /* Adjust spacing between each radio button and label */
}


.editingDuedateContainer input[type="radio"] {
  margin-right: 3px; /* Adjust spacing between radio button and label */
}

.inputWeeklyContainer{
  font-size: 18px;
  float: right;
  width: 37%;
}
.inputOneTimeContainer{
  font-size: 18px;
  float: right;
  width: 37%;
}
.saveButtonContainer{
margin-top: 14px;
margin-bottom: 4px;

}

.saveBtn{
  color: #fff;
  font-size: 20px;
}
.openModalBtn:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Dimming background color */
}


.editButton:hover,
.saveBtn:hover{
background-color: #072722;
}

.btnClose:hover{
  background-color: rgb(248, 13, 13);
}